*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background:#fff;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}